/* */
/* */
/* ➕ Global ➕ */
/* */
/* */

p {
    color:white;
    text-shadow: 1px 1px black;
    cursor:default;
}

img , p{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* */
/* */
/* ❌ Global ❌ */
/* */
/* */

/* ........................................................ */
/* ........................................................ */
/* ........................................................ */
/* ........................................................ */
/* ........................................................ */

/* */
/* */
/* ➕ Body ➕ */
/* */
/* */

body {
    margin:0px;
}

/* */
/* */
/* ❌ Body ❌ */
/* */
/* */

/* ........................................................ */
/* ........................................................ */
/* ........................................................ */
/* ........................................................ */
/* ........................................................ */

/* */
/* */
/* ➕ HeaderSection ➕ */
/* */
/* */

.headersection {
    width:100%;
    height:5rem;
    background-color: aqua;
}

/* */
/* */
/* ❌ HeaderSection ❌ */
/* */
/* */

/* ........................................................ */
/* ........................................................ */
/* ........................................................ */
/* ........................................................ */
/* ........................................................ */

/* */
/* */
/* ➕ ContentSection ➕ */
/* */
/* */

.contentsection {
    width:100%;
    height:50rem;
    background-color: rgba(30, 255, 0, 0.418);
    display: flex;
    flex-direction: row;
}

/* */
/* */
/* ❌ ContentSection ❌ */
/* */
/* */

/* ........................................................ */
/* ........................................................ */
/* ........................................................ */
/* ........................................................ */
/* ........................................................ */

/* */
/* */
/* ➕ FilterSection ➕ */
/* */
/* */

.filtersection {
    width:30%;
    height:100%;
    background-color: rgba(255, 0, 0, 0.418);
}

/* */
/* */
/* ❌ FilterSection ❌ */
/* */
/* */

/* ........................................................ */
/* ........................................................ */
/* ........................................................ */
/* ........................................................ */
/* ........................................................ */

/* */
/* */
/* ➕ CaseSection ➕ */
/* */
/* */

.casesection {
    width:70%;
    height:100%;
    background-color: rgba(238, 255, 0, 0.418);
}

/* */
/* */
/* ❌ CaseSection ❌ */
/* */
/* */

/* ........................................................ */
/* ........................................................ */
/* ........................................................ */
/* ........................................................ */
/* ........................................................ */